.clearfix {
          overflow: auto;
          zoom: 1;
        }

body{
    font-family: 'Lato', sans-serif;
    margin: 0;

}

a{
    color: #666;
}

header.major {
            position: fixed;
            width: 100%;
            height: 100px;
            background: #fff;
            z-index: 1

        }

        header.major h1,
        header.major ul {
            float: left;
            text-decoration: none;
            margin: 40px 40px 0px;
        }

        header.major h1 a{
            text-decoration: none;
            font-weight:900;
            font-size:28px;
            letter-spacing: 3px;
            vertical-align: top;
            color: #000;
        }


        header.major ul {
            margin-left:0;
            margin-top: 46px;


        }

        header.major ul li {
            display: inline-block;
            height:17px;
            font-size:12px;
            font-weight: 300;
            letter-spacing: 1.6px;
            vertical-align: center;


        }

        header.major ul li.portfolio{
            width:79px;
            margin-right:28px;
        }

        header.major ul li.blog{
            width:37px;
            margin-right:28px;
        }

        header.major ul li.about{
            width:47px;
            margin-right:28px;
        }

        header.major ul li.contact{
            width:67px;
        }

        header.major ul li:hover{
            border-bottom: 2px solid #666;
            font-weight: 400;
            color: #333;
            letter-spacing: 1.5px;

        }

        header.major aside {
            float: right;
            margin: 40px 40px 0px;
        }
        header.major aside .year,
        header.major aside .field{
            display: inline-block;
            -webkit-border-radius: 30;
            -moz-border-radius: 30;
            border-radius: 30px;
            height: 12px;
            font-weight: 300;
            letter-spacing: 1.7px;
            color: #aaa;
            font-size: 11px;
            background: #ffffff;
            padding: 6px 25px;
            border: solid #aaa 1px;
            margin-left: 6px;

        }

        header.major aside .year:hover,
        header.major aside .field:hover{
            border: 1px solid #666;
            color: #666;
        }

        div.contents{
            padding: 100px 40px 0;
            margin-bottom: 100px;

        }
        div.contents div.col1,
        div.contents div.col2{
        float: left;
        width: 25%;
        }

        div.contents div.col1 div{
            width: 100%;
            height: 100%;
            position:relative;
            padding: 0px;
        }

        div.contents div.col2 div{
            width: 100%;
            height: 100%;
            position:relative;
            padding: 0px;
        }


        div.contents div.col1 div a img,
        div.contents div.col2 div a img{
            width: 100%;
            vertical-align: top;
        }

        div.contents div.col1 div p{
            position: absolute;
            right:0;
            left:0;
            bottom:0;
            height: 100%;
            background: rgba(0,0,0,0.0);
            color: rgba(0,0,0,0.0);
            transition: 0.5s all ease;
            font-size: 13px;
            font-weight: 300;
            line-height: 50px;
            text-align: center;
            letter-spacing: 1.7px;

        }

        div.contents div.col1 div:hover p{
            background: rgba(0,0,0,0.8);
            color: #fff;
            line-height: 250px;
        }

        div.contents div.col2 div p{
            position: absolute;
            right:0;
            left:0;
            bottom:0;
            height: 100%;
            background: rgba(0,0,0,0.0);
            color: rgba(0,0,0,0.0);
            transition: 0.5s all ease;
            font-size: 13px;
            font-weight: 300;
            line-height: 50px;
            text-align: center;
            letter-spacing: 1.7px;

        }

        div.contents div.col2 div:hover p{
            background: rgba(0,0,0,0.8);
            color: #fff;
            line-height: 250px;
        }
